<div class="d-flex align-items-center justify-content-center">
  <h1>Recipes</h1>
</div>
<div id="recipes" class="row justify-content-center">
  <% @recipes.each do |recipe| %>    
    <div class="col-sm-5 p-0">    
      <div class="card-body">
        <%= render recipe %>        
      </div>   
    </div>    
  <% end %>
</div>