<div class="container text-center mb-3 fs-1">
  <span>Forgot your password ?</span>
</div>

<%= form_with url: password_reset_path do |form| %>

  <div class="container col-4 mx-auto">
      <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, placeholder: "email@example.com", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.submit "Reset Password", class: "btn btn-warning" %>
      </div>
    </div>

<% end %>
